.margin-auto {
    margin: 0 auto;
}

.text {
    color: white;
}

.info2 {
    height: 500px!important;
}

.border-bottom {
    border-bottom: 3px solid white;
}

.margin-top {
    margin-top: 0;
}

