@mixin h5padding {
    padding: 5px 0;
}

@mixin input-specs {
    background-color: white!important;
    border:1px solid $matrix-green!important;

}

@mixin background-specs {
    background-position: center;
    background-size: cover;
    width: 100%
}